/* #null{
  color:brown;
} */
/* html,body{
  height: 100%;
  width: 100%;
} */
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* align-items: center;
  gap: 20;
  justify-content: center; */
  padding: 10px;
}